{% extends 'base.html' %}

<!-- Page metadata and addiitonal styling / js -->
{% block title %}Home{% endblock %}
{% block head_description %}Upload your files with ease with Snowbox {% endblock %}
{% block author %}Andrew Snow {% endblock %}
{% block extrahead %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='libs/dropzone-4.3.0/dropzone.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='libs/dropzone-4.3.0/dropzone.css') }}">{% endblock %}


<!-- The actual content of the page body -->
<!-- Based off Bootstrap 4.0 examples from getbootstrap.com -->
{% block content %}
	
	<!-- Create a custom dropzone with dropzone.js -->
	<!-- Redirect to same page on successful file upload -->
	<script type="text/javascript">
	    Dropzone.options.myDropzone= {
	        url: 'upload',
	        init: function () {
	            this.on("queuecomplete", function (file) {
	                window.location = '/';
	            });
	        }
	        
	    }
	</script>

	<!-- Landing page header which calls drag and drop upload function -->
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Snowbox</h1>
			<p class="lead text-muted">Upload your files with ease.</p>	

			<form id="upload" method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
				<div class="dropzone" id="myDropzone"></div>
			</form>
		</div>
	</section>
	<hr>
	<!-- Let's display the uploaded files with a download link -->
	<center><h2>Uploaded Files</h2>
	    {% for file in files %}
	    	<a href="{{ url_for('upload_link', filename='') }}{{ file }}">{{ file }}</a><br />
	    {% endfor %}
	</center>
	<hr>
{% endblock %}